<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/online_pharmacy</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pass</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <mapping class="by.borzdykooa.entity.User"/>
        <mapping class="by.borzdykooa.entity.Admin"/>
        <mapping class="by.borzdykooa.entity.Client"/>
        <mapping class="by.borzdykooa.entity.Prescription"/>
        <mapping class="by.borzdykooa.entity.Review"/>
        <mapping class="by.borzdykooa.entity.Medicine"/>
        <mapping class="by.borzdykooa.entity.Ordering"/>
        <mapping class="by.borzdykooa.entity.OrderingMedicine"/>
        <mapping class="by.borzdykooa.entity.PharmacyGroup"/>
    </session-factory>
</hibernate-configuration>
