<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="~{header::language}"></div>
<div th:insert="~{header::welcome}"></div>
<!--/*@thymesVar id="paginationDto" type="com.borzdykooa.dto.PaginationDto"*/-->
<form th:action="@{/firstPage}" method="post" th:object="${paginationDto}">
    <div>
        <label for="partName" th:text="#{first.name}">Введите название лекарства: </label>
        <input type="text" name="partName" id="partName" th:field="*{partName}">
    </div>
    <br>
    <div>
        <label for="partDescription" th:text="#{first.description}">Введите описание лекарства:</label>
        <input type="text" name="partDescription" th:field="*{partDescription}" id="partDescription">
    </div>
    <br>
    <div>
        <label th:text="#{first.prescription}">Необходимость рецепта:</label>
        <input type="radio" th:field="*{needPrescription}" name="needPrescription" th:value="false">
        <label th:text="#{first.no}">нет</label>
        <input type="radio" th:field="*{needPrescription}" name="needPrescription" th:value="true">
        <label for="partDescription" th:text="#{first.yes}">да</label>
        <br>
    </div>
    <div>
        <br>
        <label th:text="#{first.quantity}">Сколько лекарств отображать на странице?</label>
        <input type="number" name="limit" th:field="*{limit}" min="1"/> <br>
    </div>
    <div>
        <input type="hidden" name="page" th:field="*{page}" min="1"/> <br>
    </div>
    <input type="submit" th:value="#{first.find}">
</form>
</body>
</html>