<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h3><!--/*@thymesVar id="medicine" type="com.borzdykooa.entity.Medicine"*/-->
<span th:text="${medicine.name}"></span></h3>

<p>Описание препарата: <span th:text="${medicine.description}"></span></p>
<p>Цена препарата: <span th:text="${medicine.saleInfo.price}"></span> бел.руб.</p>
<p>Количество упаковок в наличии: <span th:text="${medicine.saleInfo.quantity}"></span> </p>
<p>Лекарственная группа: <span th:text="${medicine.pharmacyGroup.name}"></span> </p>


<!--<form th:action="@{/medicineFullInfo}" method="get">-->

    <!--<input type="hidden" name="medicineId" value="${requestScope.medicine.id}"/><br>-->
    <!--<input type="hidden" name="medicineName" value="${requestScope.medicine.name}"/><br>-->
    <!--<input type="hidden" name="medicinePrice" value="${requestScope.medicine.price}"/><br>-->
    <!--<input type="hidden" name="medicineQuantity" value="${requestScope.medicine.quantity}"/><br>-->


    <!--<c:if test="${not empty sessionScope.currentUser and sessionScope.currentUser.login != 'borzdykooa@mail.ru'}">-->
        <!--Количество упаковок для заказа: <br>-->
        <!--<input type="number" name="orderQuantity" value="1" min="1" required max="${requestScope.medicine.quantity}"/> <br>-->
        <!--<input type="submit" value="Добавить в корзину">-->
    <!--</c:if>-->

<!--</form>-->

</body>
</html>