<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div>
    <h3>Список лекарств:</h3>
    <ol>
        <form th:action="@{/medicineComplex}" method="get">
            <div th:each="medicine : ${medicines}">
                <label>
                    <a th:href="@{/medicineFullInfo(id=${medicine.id})}">
                        <!--firstPage?partName=А&partDescription=А&needPrescription=false&limit=10&page=1-->
                        <li><span th:text="${medicine.name}"></span></li>
                    </a><br>
                </label>
            </div>
        </form>
    </ol>
</div>
<br><br>
<div th:insert="~{header::start}"></div>
<div th:insert="~{header::logout}"></div>

</body>
</html>