<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:insert="~{header::language}"></div>
<br><br>
<form th:action="@{/saveUser}" method="post">
    <label for="username" th:text="#{login.login}">Логин (адрес электронной почты): </label>
    <input type="text" name="username" id="username">
    <br><br>
    <label for="password" th:text="#{login.password}">Пароль: </label>
    <input type="password" name="password" id="password">
    <br><br>
    <input type="submit" th:value="#{login.submit}">
    <br><br>
</form>
</body>
</html>