<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div>
    <h3>Список рецептов:</h3>
    <ol>
        <form th:action="@{/userPrescriptions}" method="get">
            <div th:each="prescription : ${userPrescriptions}">
                <label>
                    <h3>
                        <li><span th:text="${prescription.name}"></span></li>
                    </h3>
                    <label>
                        Название лекарства: <a th:href="@{/medicineFullInfo(id=${prescription.prescriptionMedicine.id})}">
                            <span th:text="${prescription.prescriptionMedicine.name}"></span>
                        </a><br>
                    </label>
                    <!--Название лекарства: <span th:text="${prescription.prescriptionMedicine.name}"></span><br>-->
                    Количество упаковок: <span th:text="${prescription.quantity}"></span><br>
                    Срок действия: <span th:text="${prescription.validity}"></span><br>
                </label>
            </div>
        </form>
    </ol>
</div>
<br><br>
<div th:insert="~{header::start}"></div>
<div th:insert="~{header::basket}"></div>
<div th:insert="~{header::logout}"></div>

</body>
</html>